@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: #1A1A1D;
    font-family: 'Montserrat', sans-serif;
    color: #edf0f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-color: #C3073F;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: 3px solid #C3073F;
    background-color: #24262b;
}

.logoName {
    cursor: pointer;
    order: 1;
    height: 150px;
    width: 200px;
}
/* This begins the navbar stylings */
nav {
    order: 2;
    margin-left: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: red
}

.btn {
    order: 3;
}

#contactMe {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #C3073F;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #6F2232;
}

#main {
    display:flex;
    flex-direction: column;
    border-radius: 15px;
}

.title {
    padding: 0;
    margin: 0 0 .4em;
    color: inherit;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    text-align: center;
    font-size: 48px;
}

.intro {
    margin-top: .25em;
    line-height: 1.5;
    text-align: center;
    font-size: 28px;
    padding-bottom: 1em;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 50%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.card {
    text-align: center;
    flex: 1;
    max-width: 25%;
    margin: 0 auto;
    padding: 1.5em 1em;
    justify-content: space-between;
    border-width: 5px;
    border-style: solid;
    background-color: #24262b;
    border-color: #C3073F;
    border-radius: 55px;
}

.front-end-card-bold {
    font-size: 20px;
    padding: .25em;
}

.feature-header {
    padding: .5em;
    margin: 0 0 .4em;
    color: inherit;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    text-align: center;
    font-size: 48px;
}

.features-grid {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 0;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

.col1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #24262b;
    border-width: 5px;
    border-style: solid;
}

.project1logo {
    background-color: #383839;
}

.portfolio-links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 1.5em;
}

.portfolio-content {
    text-align: left;
    font-size: 22px;
    padding: 0 1.5em 0 1.5em;
}
.col2 {
    grid-column-start: 2;
    grid-column-end: -1;
}

.screenshots {
    background-color: #6F2232;
}

.screenshot1 {
    max-width: 1310px;
}
.buttonContainer {
    flex-direction: column;
    text-align: center;
    padding-bottom: 75px;
}

#learnMore {
    padding: 9px 25px;
    background-color: #C3073F;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
/* This is the start of the footer */
.footer{
	background-color: #24262b;
    padding: 75px 0;
    border-top: 3px solid #C3073F;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	height: 2px;
	width: 50px;
	background-color: #C3073F;
	box-sizing: border-box;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* testing out adjusting for different display sizes */
@media(max-width: 767px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
    }
}

.copyright {
    background-color: #24262b;
    text-align: center;
}

.contact-container {
    width: 80%;
    margin: 50px auto;

}

.contact-box{
    background-color: #24262b;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
}

.connect{
    margin-bottom: 10px;

}

